<div class="container border register-box">
  <h4>Envie a sua receita!</h4>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputName4" class="form-label"></label>
        <input type="name" class="form-control" id="inputName4 " placeholder="Nome da receita">
      </div>
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Escolha uma categoria</option>
          <option>Portugal</option>
          <option>Turquia</option>
          <option>Brasil</option>
          <option>Japão</option>
          <option>Espanha</option>
          <option>China</option>
        </select>
      </div>
    <div class="col-md-6">
      <label for="inputDuration4" class="form-label"></label>
      <input type="duration" class="form-control" id="inputPassword4" placeholder="Tempo de duração">
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 radio-align pt-0">Dificuldade</legend>
      <div class="col-sm-10">
        <div class="form-check radio-align">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            Fácil
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Médio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
          <label class="form-check-label" for="gridRadios3">
            Dificil
          </label>
        </div>
      </div>
    </fieldset>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Ingredientes</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Modo de preparo</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar receita</button>
    </div>
    </form>
  </div>
