<div class="container">
<div class="row mt-5">
  <div class="card text-white col-4 w-25">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h2 class="card-title">Brasileira</h2>
      <a class="btn btn-outline-light" href="">Veja mais</a>
    </div>
  </div>
  <div class="card text-white col-4 w-25">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h2 class="card-title">Turca</h2>
      <a class="btn btn-outline-light" href="">Veja mais</a>
    </div>
  </div>
  <div class="card text-white col-4 w-25">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h2 class="card-title">Portuguesa</h2>
      <a class="btn btn-outline-light" href="">Veja mais</a>
    </div>
  </div>
  <div class="card text-white col-4 w-25">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h2 class="card-title">Japonesa</h2>
      <a class="btn btn-outline-light" href="">Veja mais</a>
    </div>
  </div>
  <div class="card text-white col-4 w-25">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h2 class="card-title">Italiana</h2>
      <a class="btn btn-outline-light" href="">Veja mais</a>
    </div>
  </div>
  <div class="card text-white col-4 w-25">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h2 class="card-title">Chinesa</h2>
      <a class="btn btn-outline-light" href="">Veja mais</a>
    </div>
  </div>
  <div class="card text-white col-4 w-25">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h2 class="card-title">Alemã</h2>
      <a class="btn btn-outline-light" href="">Veja mais</a>
    </div>
  </div>
  <div class="card text-white col-4 w-25">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h2 class="card-title">Espanhola</h2>
      <a class="btn btn-outline-light" href="">Veja mais</a>
    </div>
  </div>
  <div class="card text-white col-4 w-25">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h2 class="card-title">Mexicana</h2>
      <a class="btn btn-outline-light" href="">Veja mais</a>
    </div>
  </div>
</div>
</div>
