<div class="row">
  <div class="card text-white col-3">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h4 class="card-title">Categoria 1</h4>
      <a class="btn btn-outline-light" href="">Venha conferir</a>
    </div>
  </div>
  <div class="card text-white col-3">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h4 class="card-title">Categoria 2</h4>
      <a class="btn btn-outline-light" href="">Venha conferir</a>
    </div>
  </div>
  <div class="card text-white col-3">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h4 class="card-title">Categoria 3</h4>
      <a class="btn btn-outline-light" href="">Venha conferir</a>
    </div>
  </div>
  <div class="card text-white col-3">
    <img class="card-img" src="https://source.unsplash.com/random/600x250">
    <div class="card-img-overlay">
      <h4 class="card-title">Categoria 4</h4>
      <a class="btn btn-outline-light" href="">Venha conferir</a>
    </div>
  </div>
</div>
