<div class="bg">
<div class="footer mt-5">
    <div class="row col-md-12">
      <div class="footer-logo mt-5"> Recipe Web </div>
    </div>
  <hr class="footer-line">
  <div class="row mt-5">
  <div class="col-6">
    <div class="footer-widget">
      <div class="footer-title">Institucional</div>
      <ul class="list-unstyled">
        <li>
          <a href="">Sobre</a>
        </li>
        <li>
          <a href="">Login</a>
        </li>
        <li>
          <a href="">Registro</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-6">
    <div class="footer-widget">
      <div class="footer-title">Links Rápidos</div>
      <ul class="list-unstyled">
        <li>
          <a href="">Início</a>
        </li>
        <li>
          <a href="">Enviar Receita</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</div>
</div>
