<nav class="navbar navbar-expand-sm navbar-light bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Recipe Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Pesquise uma receita..." aria-label="Search">
      <button class="btn btn-outline-success" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </form>
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " routerLink="/new-recipe">Enviar receita</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Cadastre-se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/login">Entrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
